<div class="section">
    <div class="portfolio">
         <img class="img_logo" src="https://cdn-icons.flaticon.com/png/512/3222/premium/3222498.png?token=exp=1650502923~hmac=84f878f0e5162d7d425281b5c1a3f60a">
         <div class="edit">
         <a href="#" class="fa fa-pencil" aria-hidden="true"></a>
         <a href="#" class="fa fa-times"aria-hidden="true"></a>
         <a href="#" class="fa fa-check" aria-hidden="true"> </a> 
      

         </div>
         <aside><h2> Portfolio </h2></aside>            
        aca va pagina curricul cuando este terminado  

    </div>
</div>    

