
<header>  
  <div id="header_sup">           
    <div id="menu_gral">
      <a href="#"><button type="button" class="btn btn-info">Ingresar
        </button>
      </a>
    </div>
  
          <div class="social">
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-linkedin"> </a> 
              <a href="#" class="fa fa-github" ></a>
           
        
            </div>
         
               <img class="img_super" src="./assets/img/imagen_proyect/APLogo.png">
               <aside> #YoProgramo</aside>
               <div class="reset"></div>
          
           </div>
          
     
  
    
           <div id="header_center" class="section">
            
            <img class="img-circle" [src]="miencabezado.respecto_mi.imagen_face">
           
           </div>   
  </header>