<!--ENCABEZADO-->
<app-encabezado></app-encabezado>
<!--RESPECTO A MI-->

<app-acerca-de-mi></app-acerca-de-mi>
  
  <!--EDUCACION --> 
  <app-educacion></app-educacion>
 
  <!-- ACA VA EXPERIENCIA LABORAL -->
  <app-experiencia></app-experiencia>

  <!--********CURSOS**************-->
  <app-cursos></app-cursos>

    <!-- ACA VA PORTFOLIO**************************-->
    <app-portfolio></app-portfolio>
   
    <!--*****conocimientos*********-->
    <app-conocimientos></app-conocimientos>

    <!--Pie de Pagina-->
    <app-piepagina></app-piepagina>
 





