    <div name="respecto_a_mi" id="respecto_a_mi"></div> 
<div class="section">
  
    <div id="header_name">
          <img class="img_logo" src="https://img.icons8.com/glyph-neue/452/name.png">
           
            <div class="edit">
                   <a href="#" class="fa fa-pencil" aria-hidden="true"></a>
                   <a href="#" class="fa fa-times"aria-hidden="true"></a>
                   <a href="#" class="fa fa-check" aria-hidden="true"> </a> 
            </div>

           
        
          
          <aside><h2>{{miPortfolio.respecto_mi.nombre}}</h2> </aside><br>
         
          <div class="data_name" >
            <details>
                 <summary>  Respecto a mí  </summary>
                       <div class="=sobremi" >
                           <aside><p><b> {{miPortfolio.respecto_mi.fecha_nac}}</b></p></aside>
                           <aside><p><b> {{miPortfolio.respecto_mi.provincia_naci}}-{{miPortfolio.respecto_mi.pais_naci}}</b></p></aside>
                           <div class="reset"></div>
                          
                        
                           <ol >
                            <li *ngFor="let educacion of educacionList">{{educacion.titulo}}</li>
                        
                          </ol>
                            <p align="justify" > {{miPortfolio.respecto_mi.texto_respecto}}</p>
                       </div>
              
            </details>
          </div>
    </div>    
</div>