<div class="footer">
    <div class="pie_pagina01">

        <p><b>{{miPiepagina.contacto.nombr_titul}}.</b></p>
        
        <p class="fa fa-home" > {{miPiepagina.contacto.direccion}}</p><br> 

      <a href="mailto:vampirochipi78@gmail.com" class="fa fa-envelope-o"> {{miPiepagina.contacto.email}}</a> <br><br>
        <a href="https://api.whatsapp.com/send?phone=+5492615090554&text=Quiero contactarme!" target="_blank" class="fa fa-whatsapp">{{miPiepagina.contacto.telefono }}</a>




    </div> 

    <div class="pie_pagina02">
      <p><b>Mapa del sitio </b></p>
       <ul>
           <li> <a href="#respecto_a_mi" >Respecto a mi</a></li>
           <li><a href="#educacion">Educación</a></li>
           <li><a href="#experiencia">Experiencia</a></li>
           <li><a href="#cursos">Cursos</a></li>
           <li><a href="#conocimientos">Conocimientos</a></li>
       </ul>

    </div>

    
</div> 